<div class="text-uppercase">Design · Development</div>
<div class="col-12 d-flex justify-content-center">
      <img
    src="../../assets/image/profile2.jpg"
    class="rounded-circle border-black border"
    alt=""
    width="300px"
    height="300px"
  />
  </div>
<div class="col-12 ">
   <div class="text-center my-5">
     <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
     <p class="lead fw-light mb-4 fs-3 fw-bold">My name is Poonyapol Srerachadagorn.</p>
     <p class="text-muted">
       Hi, My name is Poonyapol. My nickname is Poon. I have a desire to learn to write
       applications and design websites. I am happy when I work with my team and willing to work
       with others and make them happy and I am a hard worker be in a good mood like its simplicity.
       In my free time i like to talk with other or playing some video games with other in my free time.
</p>
<!--     <h4 class="display-5"><span class="text-gradient d-inline">Personal Details</span></h4>-->
<!--     <p class="text-secondary ">-->
<!--       23/131 kanasiri rangsit klong 2, 12130 Pathumthani poonyapol2213@gmail.com, 0953426396-->
<!--     </p>-->
   </div>
</div>
<footer class="text-center text-lg-start bg-light text-muted my-5 ">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
<div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
      <h4>Personal Details</h4>
      <span> 23/131 kanasiri rangsit klong 2, 12130 Pathumthani poonyapol2213@gmail.com, 0953426396</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/poonlovey/" class="me-4 text-reset">
        <img src="assets/icon/facebook.png" class="rounded-fluid" width="40px" height="40px">
      </a>
      <a href="https://line.me/ti/p/1OThydJqO8" class="me-4 text-reset">
         <img src="assets/icon/line.png" class="rounded-fluid" width="40px" height="40px">
      </a>
      <a href="poonyapol2213@gmail.com" class="me-4 text-reset">
         <img src="assets/icon/gmail.png" class="rounded-fluid" width="40px" height="40px">
      </a>
    </div>
  </section>
</footer>
